repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-docstring-first
          - id: check-yaml
          - id: check-toml

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.1.6
      hooks:
          - id: ruff
            args: ['--fix', '--show-fixes']
          - id: ruff-format

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.1.0
      hooks:
          - id: prettier
            types_or: [yaml, markdown, html, css, scss, javascript, ts, json]

    - repo: https://github.com/psf/black-pre-commit-mirror
      rev: 23.11.0
      hooks:
          - id: black-jupyter

    - repo: https://github.com/MarcoGorelli/absolufy-imports
      rev: v0.3.1
      hooks:
          - id: absolufy-imports
            files: ^ipymidi/

    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
          - id: nbstripout
            args:
                [
                    --extra-keys=metadata.kernelspec metadata.language_info.version,
                ]

ci:
    autofix_prs: false
    autoupdate_schedule: quarterly
